@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p>@ViewBag.Message<p/>

    <address>
        Quận Thanh Xuân, Hà Nội<br />
        0943910306<br />
        quocdungtran2003@gmail.com
    </address>
</main>