@{
    ViewBag.Title = "Home Page";
}
@model List<Buoi15_BTVN__BookManager_.Models.Book> 
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>LỚP BACKEND NET</p>
    <p>Học Sinh: Trần Quốc Dũng</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>BookID</th>
            <th>BookName</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookID</td>
                    <td>@item.BookName</td>
                </tr>
            }
        }
    </tbody>
</table>

<main>

</main>